body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 60px;
}
.orange{
    color: orange;
}
section{
    display: flex;
    margin-bottom: 150px;
}
.half{
    width: 50%;
    padding-left: 3%;
}
.half img{
    width: 80%;
}
.button{
    padding: 10px 40px;
    background-color: rgba(255, 169, 71, 0.931);
    text-decoration: none;
    color: white;
    font-weight: bolder;
    border-radius: 5px;
}
.banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}